.top-header {
  width: 80%;
  margin: 0 auto;
  background: #ccc;
  height: 50px;
}
.logo {
  width: 50%;
  float: left;
}
.social-links {
  width: 50%;
  float: right;
}
.social-links ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-links ul li {
  display: inline-block;
}

.social-links ul li a {
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.social-links ul li a img {
  height: 30px;
  width: 30px;
}

.main-header {
  width: 80%;
  margin: 0 auto;
  background: #ccc;
  height: 80px;
}
.containt {
  width: 50%;
  float: left;
  background: white;
  text-align: right;
  float: left;
  clear: both;
}
.social-links-call {
  width: 50%;
  float: right;
  background: navy;
}
.social-links-call ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-links-call ul li {
  display: inline-block;
}

.social-links-call ul li a {
  color: white;
  text-align: right;
  padding: 0px;
  text-decoration: none;
}

.social-links-call ul li a img {
  width: 30px;
}
.navlist {
  width: 80%;
  background: yellow;
  float: left;
  clear: both;
  margin-left: 10%;
}
.imges img {
  width: 100%;
}
.cointainer4 {
  width: 70%;
  background: gray;
  margin-left: 10%;
  float: left;
  clear: both;
}
.arrow {
  font-size: 30px;
  box-align: right;
}

.bgcolor {
  background-size: 10%;
  background-color: lavender;
  float: left;
  clear: both;
}
.column {
  float: left;
  width: 16.6%;
  padding: 0px;
  margin-left: 10%;
  color: blue;
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}
.button1,
.button2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: blue;
}
.button2 {
  background-color: yellow;
}
.img4 img {
  width: 69.2%;
}
.table1 {
  width: 80%;
  background: blue;
  margin-left: 10%;
}
.table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table2 {
  width: 80%;
  margin-left: 10%;
  background: white;
}
.column2 {
  float: left;
  width: 17.6%;
  padding: 0px;
  margin-left: 10%;
  color: blue;
}

.row2:after {
  content: "";
  display: table;

  clear: both;
}
.imgg2 img {
  width: 100%;
}
.column3 {
  float: left;
  width: 17.6%;
  padding: 0px;
  margin-left: 10%;
  color: blue;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}
.imggc img {
  width: 100%;
}

.agenda {
  width: 80%;
  margin-left: 10%;
}

.agenda td,
.agenda th {
  border: 1px solid #fff;
  padding: 0px;
  text-align: center;
}

.agenda th {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(193, 212, 174);
  color: black;
}
